body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.header,
.hero,
.footer {
  background-color: hsl(215, 28%, 17%);
}

.right-links {
  display: flex;
  gap: 22px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  font-weight: 300;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

button {
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: 600;
  font-size: 18px;
  border-radius: 12px;
  padding: 0;
  border: none;

  width: 170px;
  height: 40px;
}

.rectangular-image {
  height: 225px;
  width: auto;
}

.information {
  background-color: white;
}

.information-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote-section {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f291f;
}

.quote-sayer {
  font-weight: bold;
  color: #1f291f;
  font-size: 24px;
}

.cta {
  background-color: #3882f6;
}

.cta-main-text {
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.cta-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

.cta button {
  border: solid;
  border-color: white;
}

.footer {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 300;
}

.section-1 {
  background-color: hsl(215, 28%, 17%);
  padding-block: 16px 60px;
  padding-inline: clamp(16px, 12vw, 180px);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 250px;
  gap: 16px;
}

.hero__left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero__right {
  background-image: url(./imgs/amogus-rectangle.png);
  flex: 1.24;
  align-self: stretch;
  background-size: cover;
  border-radius: 8px;
}

.img-container img {
  border-radius: 8px;
  width: 140px;
  height: 140px;
  object-fit: contain;

  border: 3px solid #3882f6;
}

.section-2 {
  background-color: white;
  padding-block: 60px 100px;
  padding-inline: clamp(16px, 16vw, 180px);
}

.cards {
  display: flex;
}

.information-header {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  color: grey;
  font-size: 18px;
}

.card div {
  text-align: center;
}
