:root {
  --text-dark: #38a3a5;
  --cta: #57cc99;
  --text-light: #a9ffb3;
  --text-lighter: #c7f9cc;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--text-lighter);
  background-color: var(--text-dark);
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section--1 {
  background-color: var(--text-dark);
  padding-block: 36px 60px;
  padding-inline: clamp(16px, 5vw, 181px);
}

.header__logo {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-light);
}

.header__menu {
  display: flex;
  gap: 45px;
}

ul {
  list-style: none;
}

li {
  color: var(--text-lighter);
  font-size: 1.125rem;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.hero__left-heading {
  color: var(--text-light);
  font-size: 2.25rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 16px;
  min-height: 250px;
}

.hero__right {
  align-self: stretch;
  flex: 1.24;
  border-radius: 8px;
  background: url(./hero-image2.jpeg);
  background-size: cover;
}

.button {
  width: 170px;
  height: 40px;
  border-radius: 8px;
  border: 0;
  color: inherit;
  font-family: inherit;
}

.button--cta {
  background-color: var(--cta);
  font-size: 1rem;
  font-weight: 600;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 45px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: auto;
}

.section--1 .wrapper {
  gap: 60px;
}

.section--2 {
  background-color: var(--text-light);
  padding-block: 45px 60px;
  padding-inline: clamp(16px, 12vw, 181px);
}

.section--2 .wrapper {
  gap: 36px;
}

.section--2__heading {
  color: var(--text-dark);
}

.section--2__heading {
  display: flex;
  justify-content: center;
}

.section--2__cards {
  display: flex;
  gap: 36px;
}

.section--2__cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: var(--text-dark);
  font-weight: 200;
}

.section--2__cards .img {
  border-radius: 8px;
  width: 140px;
  height: 140px;
}

.section--2__cards .card p {
  text-align: center;
}

.section--2__cards .card .img--1 {
  background-color: #38a3a5;
}
.section--2__cards .card .img--2 {
  background-color: #38a581;
}
.section--2__cards .card .img--3 {
  background-color: #38a581;
}
.section--2__cards .card .img--4 {
  background-color: #38a557;
}

.section--3 {
  background-color: var(--text-lighter);
  padding-block: 60px 60px;
}

.section--3 .wrapper {
  max-width: 70ch;
}

.section--3 p.quote {
  color: var(--text-dark);
  font-size: 2rem;
  font-weight: 200;
}

.section--3 p.author {
  color: var(--text-dark);
  font-size: 1.125rem;
  font-weight: 600;
  align-self: flex-end;
}

.section--4 {
  background-color: var(--text-light);
  padding-block: 45px 60px;
  padding-inline: clamp(100px, 15vw, 150px);
}

.section--4 .wrapper {
  max-width: 70ch;
}

.section--4 .cta {
  background-color: var(--cta);
  display: flex;
  gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding-block: 36px;
  padding-inline: 60px;
  border-radius: 8px;
}

.button--cta--transparent {
  background-color: transparent;
  border: 2px solid var(--text-lighter);
}

.section--4 .cta__left-big {
  font-weight: 600;
  font-size: 1.75rem;
}

.section--4 .cta__left {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section--5 {
  background-color: var(--text-dark);
  padding-block: 36px 36px;
}

.section--5 .footer {
  display: flex;
  justify-content: center;
}
